html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  html, body {
    height: 100%;
  }
  
  .container {
    margin: 0 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    flex: 1;
  }

  canvas {
      background-color: rgb(53, 114, 99);
      background-position: center;
      background-size: cover;
      height: 700px;
      background-repeat: no-repeat;
  }

  #splash{
      color: white;
      text-align: center;
      padding-top: 300px;
      background-color: gray;
      height: 800px;

      background-image: url("https://image.freepik.com/free-photo/top-view-headphones-blue-background_11358-1473.jpg"); 
      background-position: center; 
      background-repeat: no-repeat;
      background-size: cover;
  }
  #splash button{
      background-color: black;
      color: white;
      height: 50px;
      width: 100px;
  }