html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Unica One', cursive;
    font-size: 16px;
    line-height: 147%;
  }
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  html, body {
    height: 100%;
  }
  
  .container {
    margin: 0 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    flex: 1;
  }

  canvas {
  
      height: 100%;
  

      background-image: url("https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
      
      background-position: center; 
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0 7px;
  }

  #splash{
      color: white;
      text-align: center;
      padding-top: 300px;
      background-color: gray;
      height: 100%;

      background-image: url("../Images/hero-photo-splash.png"); 
      
      background-position: center; 
      background-repeat: no-repeat;
      background-size: cover;
  }
  #start-game{
      background-color: rgba(0, 0, 0, 0.623);
      color: white;
      height: 35px;
      width: 120px;
      font-size: 1.5em;
      text-align: center;
      border: 1px solid rgba(255, 253, 253, 0.623);
      border-radius: 3px;
      box-shadow: -6px 6px 5px -1px (#000000 0.54);
      font-family: 'Unica One', cursive;
      
      /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
  }
  #start-game:hover{
    background-color: rgba(255, 255, 255, 0.418);
    border: none;
      color: black;
  }


  #headline {
      
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      width :100%;
      padding-left: 12%;
      background-color: rgba(71, 71, 71, 0.103);
  }

  #headline div{
      margin: 0 50px;
  }
  h4 {
font-size: 1.2em;
margin-bottom: -0px;
color: rgb(165, 192, 202);
/* //background-color: rgba(128, 128, 128, 0.24); */
  }
  h2 {
    font-size: 0.9em;
    margin-top: 4px;
  }

  #scale-notes-title{
    color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 10px;
    padding: 10px 20px;
    top: 20px;
    text-transform: uppercase;
    width: 100%;
    font-size: 2em;
  }

  #scale-notes-title.visible {
    color: black;
    /*background-color: white;*/
  }

  #collected{
    color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 10px;
    padding: 10px 20px;
    top: 20px;
    text-transform: uppercase;
    width: 100%;
    font-size: 2em;
  }

  #collected.visible {
    color: white;
    /*background-color: white;*/
  }

  #game-over{
    color: white;
      text-align: center;
      padding-top: 300px;
      background-color: gray;
      height: 100%; 
  

      background-image: url("../Images/hero-photo-splash.png"); 
      
      background-position: center; 
      background-repeat: no-repeat;
      background-size: cover;
  }

  table{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    
  }
  #titles{
    margin-top: -200px;
  }
td {
    width: 150px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.452);
  }

  tr td{
    background-color: rgba(40, 40, 46, 0.24);
  }

  th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.438);
  }
  tr th{
    background-color: rgba(40, 40, 46, 0.425);
    font-size: 0.8em;
    text-align: center;
  }


  #instructions{
    height: 100%; 
    /* height: 800px; */
    background-image: url("../Images/Instructions.png"); 
    
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;

}

#instructions-button{
  background-color: rgba(0, 0, 0, 0.137);
  border: 1px solid rgba(187, 187, 187, 0.836);
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute; 
  width: 10%;
  margin-top: 6%;
  margin-left: 45%;
  font-family: 'Unica One', cursive;
  font-size: 1em;
  
}
#instructions-button:hover{

  background-color: rgba(143, 143, 143, 0.452);
  color: black;
  border: 1px solid rgba(173, 171, 171, 0.363);
  
}

#button-back{
  background-color: rgba(0, 0, 0, 0.623);
  border: 1px solid rgba(187, 187, 187, 0.836);
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute; 
  width: 10%;
  margin-top: 33%;
  margin-left: 45%;
  font-family: 'Unica One', cursive;
}
#button-back:hover{
  background-color: rgba(240, 255, 240, 0.445);
  color: black;
  border: 1px solid rgba(173, 171, 171, 0.363);
}
#select-scale, #major-minor{
  margin-bottom: 5px;
  background-color: rgba(185, 185, 185, 0.664);
  border: 1px solid transparent;
  font-family: 'Unica One', cursive;
  width: 4%;
}

#select-scale select {
  background-color: green;

}

#back-from-scoreboard{
  background-color: rgba(46, 45, 45, 0.623);
  border:  rgba(255, 255, 255, 0.459) solid 1px;
  font-size: 0.8em;
  
  color: rgba(255, 255, 255, 0.925);
  text-align: center;
 
  width: 15%;
  margin-top: 40px;
  font-family: 'Unica One', cursive;
  
}
#back-from-scoreboard:hover{
  background-color: rgba(240, 255, 240, 0.445);
  color: black;
  border: 1px solid rgba(187, 187, 187, 0.836);
}