html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  html, body {
    height: 100%;
  }
  
  .container {
    margin: 0 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }
  
  
  /* ---- components ---- */
  
  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .game header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .game .lives {
    flex: 1;
  }
  
  .game .score {
    flex: 1;
  }
  
  .game .label {
    font-weight: bold;
  }
  
  .game .value {
    font-style: italic;
  }
  
  .game .canvas-container {
    flex: 1;
  }

  canvas {
      //background-color: rgb(53, 114, 99);
      //background-position: center;
      //background-size: cover;
      height: 700px;
      //background-repeat: no-repeat;

      background-image: url("https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
      
      background-position: center; 
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0 7px;
  }

  #splash{
      color: white;
      text-align: center;
      padding-top: 300px;
      background-color: gray;
      height: 800px;

      background-image: url("https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
      
      background-position: center; 
      background-repeat: no-repeat;
      background-size: cover;
  }
  #splash button{
      background-color: black;
      color: white;
      height: 35px;
      width: 100px;
      
      font-size: 1em;
      text-align: center;
  }

  #headline {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  #headline div{
      margin: 0 50px;
  }
  h4 {
font-size: 1em;
margin-bottom: -0px;
color: gray;
//background-color: rgba(128, 128, 128, 0.24);
  }
  h2 {
    font-size: 0.9em;
    margin-top: 7px;
  }